* {
  box-sizing: border-box;  
}

body {
  margin: 0;
  padding: 0;
}

.app {
  max-width: 500px;
  margin: 0 auto;
}

*[contenteditable=true] {
  padding: 5px 9px;
  background-color: #eaeaea;
  border-radius: 4px;
  outline: 0;
}
